@model List<AdminPanel.Models.News>
@{
    ViewBag.Title = "NewsList";
}


<div class="main-content">
    <div class="main-content-inner">
        @Html.Partial("_BreadCrumbs")

        <div class="page-content">
            <!-- /.ace-settings-container -->
            <div class="page-header">
                <h1>
                    Dashboard
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        overview &amp; stats
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <a href="@Url.Action("AddOrEdit","Media")" class="button"><span>New</span></a>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Kısa Açıklama</th>                       
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemas in Model)
                    {
                        <tr>
                            <td>@itemas.Id</td>
                            <td>@itemas.Name</td>
                            <td>@Html.Raw(itemas.Info)</td>
                            <td>@itemas.ShortDescription</td>                            
                            <td>
                                <a class="edit" href="@Url.Action("AddOrEdit","Media")/@itemas.Id"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a class="delete" href="@Url.Action("NewsDelete","Media")/@itemas.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@*<a href="/Manage/NewsAdd">Yeni Ekle</a>*@

<link href="~/assets/css/style.css" rel="stylesheet" />




